[common]
test_result_dir = raw_data
test_metadata_dir = circle_ci
junit_artifact_dir = junit
coverage_artifact_dir = coverage

[circleci_scraper]
;create a personal Circle CI token: https://circleci.com/docs/managing-api-tokens/
token =
base_url = https://circleci.com/api/v2
vcs_slug = gh
pipelines = [
      {
        "organization": "mozilla",
        "repository": "fxa",
        "workflows": {
          "nightly": [
            "Unit Test (nightly)",
            "Integration Test - Frontends (nightly)",
            "Integration Test - Libraries (nightly)",
            "Integration Test - Servers (nightly)",
            "Integration Test - Servers - Auth (nightly)",
            "Integration Test - Servers - Auth V2 (nightly)",
            "Chromium Functional Tests - Playwright (nightly)",
            "Firefox Functional Tests - Playwright (nightly)"
          ],
          "stage_smoke_tests": [
            "Smoke Test Stage - Playwright"
          ],
          "production_smoke_tests": [
            "Smoke Test Production - Playwright"
          ]
        }
      },
      {
        "organization": "mozilla-services",
        "repository": "autopush-rs",
        "branches": ["master"],
        "workflows": {
          "build-test-deploy": [
            "Rust Unit Tests",
            "Integration Tests"
          ]
        }
      },
      {
        "organization": "mozilla-services",
        "repository": "merino-py",
        "workflows": {
          "main-workflow": [
            "unit-tests",
            "integration-tests"
          ]
        }
      }
    ]
;(optional) Get data starting from x days past from now (default: all available data)
days_of_data = 2

[metric_reporter]
reports_dir = reports

[google_sheet_uploader]
reports_dir = reports
service_account_file = google_sheets_key.json
mappings = [
        {
            "sheet_id": "1abjtg2e-PHm8JDP5A629KFVA-eBc8I5VtFPcz_UCDQs",
            "tabs": [
                {
                    "file_name": "autopushrs_integration_tests_averages.csv",
                    "tab_name": "Integration Averages"
                },
                {
                    "file_name": "autopushrs_integration_tests_results.csv",
                    "tab_name": "Integration Results"
                },
                {
                    "file_name": "autopushrs_rust_unit_tests_averages.csv",
                    "tab_name": "Unit Averages"
                },
                {
                    "file_name": "autopushrs_rust_unit_tests_coverage.csv",
                    "tab_name": "Unit Coverage"
                },
                {
                    "file_name": "autopushrs_rust_unit_tests_results.csv",
                    "tab_name": "Unit Results"
                }
            ]
        },
        {
            "sheet_id": "1qKwxsSI2RNo-qKZflETtBbyZ9b0ZUB_id2SL17_MmYo",
            "tabs": [
                {
                    "file_name": "fxa_chromium_functional_tests_playwright_nightly_results.csv",
                    "tab_name": "Nightly Chromium Functional Results"
                },
                {
                    "file_name": "fxa_firefox_functional_tests_playwright_nightly_averages.csv",
                    "tab_name": "Nightly Firefox Functional Averages"
                },
                {
                    "file_name": "fxa_firefox_functional_tests_playwright_nightly_results.csv",
                    "tab_name": "Nightly Firefox Functional Results"
                },
                {
                    "file_name": "fxa_integration_test_frontends_nightly_averages.csv",
                    "tab_name": "Nightly Integration Frontends Averages"
                },
                {
                    "file_name": "fxa_integration_test_frontends_nightly_results.csv",
                    "tab_name": "Nightly Integration Frontends Results"
                },
                {
                    "file_name": "fxa_integration_test_libraries_nightly_averages.csv",
                    "tab_name": "Nightly Integration Libraries Averages"
                },
                 {
                    "file_name": "fxa_integration_test_libraries_nightly_results.csv",
                    "tab_name": "Nightly Integration Libraries Results"
                },
                {
                    "file_name": "fxa_integration_test_servers_auth_nightly_averages.csv",
                    "tab_name": "Nightly Integration Servers Auth Averages"
                },
                {
                    "file_name": "fxa_integration_test_servers_auth_nightly_results.csv",
                    "tab_name": "Nightly Integration Servers Auth Results"
                },
                {
                    "file_name": "fxa_integration_test_servers_auth_v2_nightly_averages.csv",
                    "tab_name": "Nightly Integration Servers Auth v2 Averages"
                },
                {
                    "file_name": "fxa_integration_test_servers_auth_v2_nightly_results.csv",
                    "tab_name": "Nightly Integration Servers Auth v2 Results"
                },
                {
                    "file_name": "fxa_integration_test_servers_nightly_averages.csv",
                    "tab_name": "Nightly Integration Servers Averages"
                },
                {
                    "file_name": "fxa_integration_test_servers_nightly_results.csv",
                    "tab_name": "Nightly Integration Servers Results"
                },
                {
                    "file_name": "fxa_smoke_test_production_playwright_averages.csv",
                    "tab_name": "Smoke Production Averages"
                },
                {
                    "file_name": "fxa_smoke_test_production_playwright_results.csv",
                    "tab_name": "Smoke Production Results"
                },
                {
                    "file_name": "fxa_smoke_test_stage_playwright_averages.csv",
                    "tab_name": "Smoke Stage Averages"
                },
                {
                    "file_name": "fxa_smoke_test_stage_playwright_results.csv",
                    "tab_name": "Smoke Stage Results"
                },
                {
                    "file_name": "fxa_unit_test_nightly_averages.csv",
                    "tab_name": "Nightly Unit Averages"
                },
                {
                    "file_name": "fxa_unit_test_nightly_results.csv",
                    "tab_name": "Nightly Unit Results"
                }
            ]
        },
        {
            "sheet_id": "1dZjfFVoYYPHmStCbyQkWXfBy9yvL10-g6OLQ3nU_25o",
            "tabs": [
                {
                    "file_name": "merinopy_integration_tests_averages.csv",
                    "tab_name": "Integration Averages"
                },
                {
                    "file_name": "merinopy_integration_tests_coverage.csv",
                    "tab_name": "Integration Coverage"
                },
                {
                    "file_name": "merinopy_integration_tests_results.csv",
                    "tab_name": "Integration Results"
                },
                {
                    "file_name": "merinopy_unit_tests_averages.csv",
                    "tab_name": "Unit Averages"
                },
                {
                    "file_name": "merinopy_unit_tests_coverage.csv",
                    "tab_name": "Unit Coverage"
                },
                {
                    "file_name": "merinopy_unit_tests_results.csv",
                    "tab_name": "Unit Results"
                }
            ]
        }
    ]
;
