[metric_reporter]
gcp_project_id = ecosystem-test-eng
test_result_bucket = ecosystem-test-eng-metrics
junit_artifact_dir = junit
coverage_artifact_dir = coverage
service_account_file = metric_reporter_key.json
bigquery_dataset_name = test_metrics
update_bigquery = True
